---
import Layout from "./Layout.astro";
import astroicon from "../assets/astroicon.png";
import Image from "astro/components/Image.astro";
import htmlicon from "../assets/htmlicon.png";
import cssicon from "../assets/cssicon.png";
import cicon from "../assets/cicon.png";
import javaicon from "../assets/javaicon.png";
import pythonicon from "../assets/pythonicon.png";
import djangoicon from "../assets/djangoicon.png";
import mysqlicon from "../assets/mysqlicon.png";
import teamscrip from "../assets/teamscrip.jpg";
import teamscripsah from "../assets/teamscripsah.jpg";
import cloudsek from "../assets/cloudsek.png";
import teamscripsce from "../assets/teamscripsce.jpg";
import wiki from "../assets/wiki.png";
import '../css/styles.css';
---
<Layout>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
  <section id="about">
    <div class="container">
      <h2>👀 About Me</h2>
      <p>
        I am an <b>Infosec Enthusiast</b> currently pursuing my Computer Science
        Engineering at SJEC College Mangalore. My passion for tech began while I
        was in high school, and I have been honing my skills and expanding my knowledge
        in this field and more in security part of it. I am ctf player and also practice
        on <a href="https://play.picoctf.org/users/ox5h31d0n" target="_blank"
          ><b>PicoCTF</b><i class="fa-solid fa-arrow-trend-up"></i></a
        > and <a href="https://www.hackthebox.com/" target="_blank"
          ><b>Hackthebox</b><i class="fa-solid fa-arrow-trend-up"></i></a
        >.
      </p>
    </div>
    <section id="skills">
      <div class="container">
        <h2>⚙️ Skills</h2>
        <div class="grid">
          <div class="icons">
            <Image src={cicon} alt="C Icon" class="iconc" />

            <Image src={javaicon} alt="Java Icon" class="iconc" />

            <Image src={pythonicon} alt="Python Icon" class="iconc" />

            <Image src={htmlicon} alt="HTML Icon" class="iconc" />

            <Image src={cssicon} alt="CSS Icon" class="iconc" />

            <Image src={astroicon} alt="Astro Icon" class="iconc" />

            <Image src={djangoicon} alt="Django Icon" class="iconc" />

            <Image src={mysqlicon} alt="Mysql Icon" class="iconc" />
          </div>
        </div>
      </div>
    </section>
    <section id="skills">
      <div class="container">
        <h2>🚀 Achievements</h2>
        <div class="grid">
          <div class="container">
              <h3>
                <i class="fa-regular fa-circle-dot"></i> Cloudsek CTF 2024
              </h3>
              <div class="grid-item">
                <div class="hackimg">
                  <a
                    href="https://ctfx.cloudsek.com/scoreboard"
                    target="_blank"
                  >
                    <div class="image-container">
                      <Image
                        src={cloudsek}
                        alt="CTF Image"
                        height="600"
                        width="600"
                        class="achivimg"
                      />
                    </div>
                    <br />
                    <i
                      class="fa fa-external-link fa fa-xl link-button"
                      aria-hidden="true"></i>
                  </a>
                  <p>
                    I participated in the <b>Cloudsek CTF 2024</b> and secured 84th
                    position in the CTF which recorded over 600 registrations throughout
                    the world.
                  </p>
              </div>
            </div>
          </div>
        </div>
        <h3>
          <i class="fa-regular fa-circle-dot"></i> Cidecode Hackathon Apr 2024
        </h3>
        <div class="grid-item">
          <div class="hackimg">
            <a href="https://news.pes.edu/11389/" target="_blank">
              <div class="image-container">
                <Image
                  src={teamscrip}
                  alt="Hackathon Image"
                  height="600"
                  width="600"
                  class="achivimg"
                />
              </div>
              <br />
              <i
                class="fa fa-external-link fa fa-xl link-button"
                aria-hidden="true"></i>
            </a>
            <p>
              My Team <b>Scriptators</b> secured 1st Runner-up position in the National
              <b>Cidecode Hackathon</b> OSINT track conducted by CID Karnataka CCITR,
              DSCI, Infosys and PES University.
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="grid">
        <h3>
          <i class="fa-regular fa-circle-dot"></i> CodeBlaze Hackathon Dec 2023
        </h3>
        <div class="grid-item">
          <div class="hackimg">
            <a
              href="https://drive.google.com/file/d/1xVHg87G0wej2vqDfSQpsdz5KM8LftlOc/view"
              target="_blank"
            >
              <div class="image-container">
                <Image
                  src={teamscripsah}
                  alt="Hackathon Image"
                  height="600"
                  width="600"
                  class="achivimg"
                />
              </div>
              <br />
              <i
                class="fa fa-external-link fa fa-xl link-button"
                aria-hidden="true"></i>
            </a>
            <p>
              My Team <b>Scriptators</b> secured top participants position in the
              <b>CodeBlaze Hackathon</b> organized by Sahyadri Engineering College
              and succesfully built an expense tracker app.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="grid">
        <h3>
          <i class="fa-regular fa-circle-dot"></i> SJEC Premiere Hackathon Jan 2023
        </h3>
        <div class="grid-item">
          <div class="hackimg">
            <a
              href="https://drive.google.com/file/d/1-7bYq2pGNfg8M4A5_gGGxiPCSx0IBLxY/view"
              target="_blank"
            >
              <div class="image-container">
                <Image
                  src={teamscripsce}
                  alt="Hackathon Image"
                  height="600"
                  width="600"
                  class="achivimg"
                />
              </div>
              <br />
              <i
                class="fa fa-external-link fa fa-xl link-button"
                aria-hidden="true"></i>
            </a>
            <p>
              My Team <b>Scriptators</b> secured 1st Runner-up position in the
              <b>SJEC's Premiere Hackathon</b> Agriculture track organized by SJEC.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="grid">
        <h3>
          <i class="fa-regular fa-circle-dot"></i> Wikipedia HOF Nov 2022
        </h3>
        <div class="grid-item">
          <div class="hackimg">
            <a
              href="https://security.wikimedia.org/hall-of-fame/"
              target="_blank"
            >
              <div class="image-container">
                <Image
                  src={wiki}
                  alt="Hackathon Image"
                  height="600"
                  width="600"
                  class="achivimg"
                />
              </div>
              <br />
              <i
                class="fa fa-external-link fa fa-xl link-button"
                aria-hidden="true"></i>
            </a>
            <p>
              I found <b>Reflected-XSS</b> (<u>Security Issue</u>) on <b
                >Wikipedia
              </b>Parameters and reported it to Wikimedia Foundation and got
              inducted into the <b>Security Hall of Fame</b>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="education">
  <div class="container">
    <h2>🎓 Education</h2>
    <div class="grid">
      <div class="container">
        <h3><i class="fa-regular fa-circle-dot"></i> SJEC College Mangalore</h3>
        <div class="grid-item">
          <p>
            <b>Bachelor of Engineering in Computer Science</b><br />
            Aug 2022 - Present<br />
            Relevant Coursework: Data Structures, Algorithms, Database Management Systems, Software Testing, Python Programming.
          </p>
        </div>
      </div>
    </div>
      <div class="container">
        <h3><i class="fa-regular fa-circle-dot"></i> St. Aloysius PUC Mangalore</h3>
        <div class="grid-item">
          <p>
            <b>Physics | Chemistry | Maths | Computer Science</b><br />
            Jun 2020 - Jun 2022<br />
            Relevant Coursework: SQL, C++ Programming.
          </p>
        </div>
      </div>
      <div class="container">
        <h3><i class="fa-regular fa-circle-dot"></i> St. Aloysius High School</h3>
        <div class="grid-item">
          <p>
            <b>Physics | Chemistry | Maths | Social Science</b><br />
            Jun 2017 - Jun 2020<br />
            Relevant Coursework: C++ Programming, HTML, CSS.
          </p>
        </div>
      </div>
</section>
</Layout>

<script>
  [][
    (![] + [])[+[]] +
      (![] + [])[!+[] + !+[]] +
      (![] + [])[+!+[]] +
      (!![] + [])[+[]]
  ][
    ([][
      (![] + [])[+[]] +
        (![] + [])[!+[] + !+[]] +
        (![] + [])[+!+[]] +
        (!![] + [])[+[]]
    ] + [])[!+[] + !+[] + !+[]] +
      (!![] +
        [][
          (![] + [])[+[]] +
            (![] + [])[!+[] + !+[]] +
            (![] + [])[+!+[]] +
            (!![] + [])[+[]]
        ])[+!+[] + [+[]]] +
      ([][[]] + [])[+!+[]] +
      (![] + [])[!+[] + !+[] + !+[]] +
      (!![] + [])[+[]] +
      (!![] + [])[+!+[]] +
      ([][[]] + [])[+[]] +
      ([][
        (![] + [])[+[]] +
          (![] + [])[!+[] + !+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]]
      ] + [])[!+[] + !+[] + !+[]] +
      (!![] + [])[+[]] +
      (!![] +
        [][
          (![] + [])[+[]] +
            (![] + [])[!+[] + !+[]] +
            (![] + [])[+!+[]] +
            (!![] + [])[+[]]
        ])[+!+[] + [+[]]] +
      (!![] + [])[+!+[]]
  ](
    (!![] + [])[+!+[]] +
      (!![] + [])[!+[] + !+[] + !+[]] +
      (!![] + [])[+[]] +
      ([][[]] + [])[+[]] +
      (!![] + [])[+!+[]] +
      ([][[]] + [])[+!+[]] +
      (+[![]] +
        [][
          (![] + [])[+[]] +
            (![] + [])[!+[] + !+[]] +
            (![] + [])[+!+[]] +
            (!![] + [])[+[]]
        ])[+!+[] + [+!+[]]] +
      (!![] + [])[!+[] + !+[] + !+[]] +
      (+(!+[] + !+[] + !+[] + [+!+[]]))[
        (!![] + [])[+[]] +
          (!![] +
            [][
              (![] + [])[+[]] +
                (![] + [])[!+[] + !+[]] +
                (![] + [])[+!+[]] +
                (!![] + [])[+[]]
            ])[+!+[] + [+[]]] +
          ([] + [])[
            ([][
              (![] + [])[+[]] +
                (![] + [])[!+[] + !+[]] +
                (![] + [])[+!+[]] +
                (!![] + [])[+[]]
            ] + [])[!+[] + !+[] + !+[]] +
              (!![] +
                [][
                  (![] + [])[+[]] +
                    (![] + [])[!+[] + !+[]] +
                    (![] + [])[+!+[]] +
                    (!![] + [])[+[]]
                ])[+!+[] + [+[]]] +
              ([][[]] + [])[+!+[]] +
              (![] + [])[!+[] + !+[] + !+[]] +
              (!![] + [])[+[]] +
              (!![] + [])[+!+[]] +
              ([][[]] + [])[+[]] +
              ([][
                (![] + [])[+[]] +
                  (![] + [])[!+[] + !+[]] +
                  (![] + [])[+!+[]] +
                  (!![] + [])[+[]]
              ] + [])[!+[] + !+[] + !+[]] +
              (!![] + [])[+[]] +
              (!![] +
                [][
                  (![] + [])[+[]] +
                    (![] + [])[!+[] + !+[]] +
                    (![] + [])[+!+[]] +
                    (!![] + [])[+[]]
                ])[+!+[] + [+[]]] +
              (!![] + [])[+!+[]]
          ][
            ([][[]] + [])[+!+[]] +
              (![] + [])[+!+[]] +
              ((+[])[
                ([][
                  (![] + [])[+[]] +
                    (![] + [])[!+[] + !+[]] +
                    (![] + [])[+!+[]] +
                    (!![] + [])[+[]]
                ] + [])[!+[] + !+[] + !+[]] +
                  (!![] +
                    [][
                      (![] + [])[+[]] +
                        (![] + [])[!+[] + !+[]] +
                        (![] + [])[+!+[]] +
                        (!![] + [])[+[]]
                    ])[+!+[] + [+[]]] +
                  ([][[]] + [])[+!+[]] +
                  (![] + [])[!+[] + !+[] + !+[]] +
                  (!![] + [])[+[]] +
                  (!![] + [])[+!+[]] +
                  ([][[]] + [])[+[]] +
                  ([][
                    (![] + [])[+[]] +
                      (![] + [])[!+[] + !+[]] +
                      (![] + [])[+!+[]] +
                      (!![] + [])[+[]]
                  ] + [])[!+[] + !+[] + !+[]] +
                  (!![] + [])[+[]] +
                  (!![] +
                    [][
                      (![] + [])[+[]] +
                        (![] + [])[!+[] + !+[]] +
                        (![] + [])[+!+[]] +
                        (!![] + [])[+[]]
                    ])[+!+[] + [+[]]] +
                  (!![] + [])[+!+[]]
              ] + [])[+!+[] + [+!+[]]] +
              (!![] + [])[!+[] + !+[] + !+[]]
          ]
      ](!+[] + !+[] + !+[] + [!+[] + !+[]]) +
      (![] + [])[+!+[]] +
      (![] + [])[!+[] + !+[]]
  )()(
    [][
      (![] + [])[+[]] +
        (![] + [])[!+[] + !+[]] +
        (![] + [])[+!+[]] +
        (!![] + [])[+[]]
    ][
      ([][
        (![] + [])[+[]] +
          (![] + [])[!+[] + !+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]]
      ] + [])[!+[] + !+[] + !+[]] +
        (!![] +
          [][
            (![] + [])[+[]] +
              (![] + [])[!+[] + !+[]] +
              (![] + [])[+!+[]] +
              (!![] + [])[+[]]
          ])[+!+[] + [+[]]] +
        ([][[]] + [])[+!+[]] +
        (![] + [])[!+[] + !+[] + !+[]] +
        (!![] + [])[+[]] +
        (!![] + [])[+!+[]] +
        ([][[]] + [])[+[]] +
        ([][
          (![] + [])[+[]] +
            (![] + [])[!+[] + !+[]] +
            (![] + [])[+!+[]] +
            (!![] + [])[+[]]
        ] + [])[!+[] + !+[] + !+[]] +
        (!![] + [])[+[]] +
        (!![] +
          [][
            (![] + [])[+[]] +
              (![] + [])[!+[] + !+[]] +
              (![] + [])[+!+[]] +
              (!![] + [])[+[]]
          ])[+!+[] + [+[]]] +
        (!![] + [])[+!+[]]
    ](
      (!![] + [])[+!+[]] +
        (!![] + [])[!+[] + !+[] + !+[]] +
        (!![] + [])[+[]] +
        ([][[]] + [])[+[]] +
        (!![] + [])[+!+[]] +
        ([][[]] + [])[+!+[]] +
        ([] + [])[
          (![] + [])[+[]] +
            (!![] +
              [][
                (![] + [])[+[]] +
                  (![] + [])[!+[] + !+[]] +
                  (![] + [])[+!+[]] +
                  (!![] + [])[+[]]
              ])[+!+[] + [+[]]] +
            ([][[]] + [])[+!+[]] +
            (!![] + [])[+[]] +
            ([][
              (![] + [])[+[]] +
                (![] + [])[!+[] + !+[]] +
                (![] + [])[+!+[]] +
                (!![] + [])[+[]]
            ] + [])[!+[] + !+[] + !+[]] +
            (!![] +
              [][
                (![] + [])[+[]] +
                  (![] + [])[!+[] + !+[]] +
                  (![] + [])[+!+[]] +
                  (!![] + [])[+[]]
              ])[+!+[] + [+[]]] +
            (![] + [])[!+[] + !+[]] +
            (!![] +
              [][
                (![] + [])[+[]] +
                  (![] + [])[!+[] + !+[]] +
                  (![] + [])[+!+[]] +
                  (!![] + [])[+[]]
              ])[+!+[] + [+[]]] +
            (!![] + [])[+!+[]]
        ]()[+!+[] + [!+[] + !+[]]] +
        ((!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          ([][[]] + [])[+!+[]] +
          (![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          ([][[]] + [])[!+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          ([][[]] + [])[+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          ([][[]] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          ([][[]] + [])[+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (![] + [])[!+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [+[]] +
          [+!+[]] +
          (![] + [])[!+[] + !+[]] +
          (![] + [])[!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (![] + [])[!+[] + !+[] + !+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (![] + [])[+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (![] + [])[+!+[]] +
          ([][[]] + [])[!+[] + !+[]] +
          ([][[]] + [])[!+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          ([][[]] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          ([][[]] + [])[+!+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          ([][[]] + [])[+[]] +
          (![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (![] + [])[!+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          ([][[]] + [])[+[]] +
          ([][[]] + [])[+!+[]] +
          ([][[]] + [])[!+[] + !+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          ([][[]] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [+[]] +
          [!+[] + !+[] + !+[]] +
          (![] + [])[!+[] + !+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          ([][[]] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (![] + [])[!+[] + !+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          ([][[]] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (![] + [])[!+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (![] + [])[+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (![] + [])[!+[] + !+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          ([][[]] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          ([][[]] + [])[!+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          [+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          ([][[]] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          [+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (![] + [])[!+[] + !+[] + !+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          ([][[]] + [])[!+[] + !+[]] +
          ([][[]] + [])[+[]] +
          (!![] + [])[+!+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          ([][[]] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          [+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          ([][[]] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (![] + [])[+!+[]] +
          (![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+!+[]] +
          [+!+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          ([][[]] + [])[+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (![] + [])[+!+[]] +
          ([][[]] + [])[!+[] + !+[]] +
          ([][[]] + [])[!+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          ([][[]] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          ([][[]] + [])[+!+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          ([][[]] + [])[+[]] +
          (![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (![] + [])[!+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (![] + [])[!+[] + !+[] + !+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          ([][[]] + [])[!+[] + !+[]] +
          ([][[]] + [])[+[]] +
          (!![] + [])[+!+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          ([![]] + [][[]])[+!+[] + [+[]]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          ([][[]] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          [+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (![] + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (![] + [])[+!+[]] +
          (![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[!+[] + !+[] + !+[]] +
          (!![] + [])[+!+[]] +
          [+!+[]] +
          (+(
            +!+[] +
            [+!+[]] +
            (!![] + [])[!+[] + !+[] + !+[]] +
            [!+[] + !+[]] +
            [+[]]
          ) + [])[+!+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          ([][[]] + [])[+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[]] +
          [+[]] +
          (!![] + [])[+[]] +
          [+!+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[]] +
          [+!+[]] +
          (!![] + [])[+[]] +
          [!+[] + !+[] + !+[] + !+[] + !+[] + !+[] + !+[]] +
          [!+[] + !+[] + !+[]])
          [
            (![] + [])[!+[] + !+[] + !+[]] +
              (+(!+[] + !+[] + [+!+[]] + [+!+[]]))[
                (!![] + [])[+[]] +
                  (!![] +
                    [][
                      (![] + [])[+[]] +
                        (![] + [])[!+[] + !+[]] +
                        (![] + [])[+!+[]] +
                        (!![] + [])[+[]]
                    ])[+!+[] + [+[]]] +
                  ([] + [])[
                    ([][
                      (![] + [])[+[]] +
                        (![] + [])[!+[] + !+[]] +
                        (![] + [])[+!+[]] +
                        (!![] + [])[+[]]
                    ] + [])[!+[] + !+[] + !+[]] +
                      (!![] +
                        [][
                          (![] + [])[+[]] +
                            (![] + [])[!+[] + !+[]] +
                            (![] + [])[+!+[]] +
                            (!![] + [])[+[]]
                        ])[+!+[] + [+[]]] +
                      ([][[]] + [])[+!+[]] +
                      (![] + [])[!+[] + !+[] + !+[]] +
                      (!![] + [])[+[]] +
                      (!![] + [])[+!+[]] +
                      ([][[]] + [])[+[]] +
                      ([][
                        (![] + [])[+[]] +
                          (![] + [])[!+[] + !+[]] +
                          (![] + [])[+!+[]] +
                          (!![] + [])[+[]]
                      ] + [])[!+[] + !+[] + !+[]] +
                      (!![] + [])[+[]] +
                      (!![] +
                        [][
                          (![] + [])[+[]] +
                            (![] + [])[!+[] + !+[]] +
                            (![] + [])[+!+[]] +
                            (!![] + [])[+[]]
                        ])[+!+[] + [+[]]] +
                      (!![] + [])[+!+[]]
                  ][
                    ([][[]] + [])[+!+[]] +
                      (![] + [])[+!+[]] +
                      ((+[])[
                        ([][
                          (![] + [])[+[]] +
                            (![] + [])[!+[] + !+[]] +
                            (![] + [])[+!+[]] +
                            (!![] + [])[+[]]
                        ] + [])[!+[] + !+[] + !+[]] +
                          (!![] +
                            [][
                              (![] + [])[+[]] +
                                (![] + [])[!+[] + !+[]] +
                                (![] + [])[+!+[]] +
                                (!![] + [])[+[]]
                            ])[+!+[] + [+[]]] +
                          ([][[]] + [])[+!+[]] +
                          (![] + [])[!+[] + !+[] + !+[]] +
                          (!![] + [])[+[]] +
                          (!![] + [])[+!+[]] +
                          ([][[]] + [])[+[]] +
                          ([][
                            (![] + [])[+[]] +
                              (![] + [])[!+[] + !+[]] +
                              (![] + [])[+!+[]] +
                              (!![] + [])[+[]]
                          ] + [])[!+[] + !+[] + !+[]] +
                          (!![] + [])[+[]] +
                          (!![] +
                            [][
                              (![] + [])[+[]] +
                                (![] + [])[!+[] + !+[]] +
                                (![] + [])[+!+[]] +
                                (!![] + [])[+[]]
                            ])[+!+[] + [+[]]] +
                          (!![] + [])[+!+[]]
                      ] + [])[+!+[] + [+!+[]]] +
                      (!![] + [])[!+[] + !+[] + !+[]]
                  ]
              ](!+[] + !+[] + !+[] + [+!+[]])[+!+[]] +
              (![] + [])[!+[] + !+[]] +
              ([![]] + [][[]])[+!+[] + [+[]]] +
              (!![] + [])[+[]]
          ]((!![] + [])[+[]])
          [
            ([][
              (!![] + [])[!+[] + !+[] + !+[]] +
                ([][[]] + [])[+!+[]] +
                (!![] + [])[+[]] +
                (!![] + [])[+!+[]] +
                ([![]] + [][[]])[+!+[] + [+[]]] +
                (!![] + [])[!+[] + !+[] + !+[]] +
                (![] + [])[!+[] + !+[] + !+[]]
            ]() + [])[!+[] + !+[] + !+[]] +
              (!![] +
                [][
                  (![] + [])[+[]] +
                    (![] + [])[!+[] + !+[]] +
                    (![] + [])[+!+[]] +
                    (!![] + [])[+[]]
                ])[+!+[] + [+[]]] +
              ([![]] + [][[]])[+!+[] + [+[]]] +
              ([][[]] + [])[+!+[]]
          ](
            ([][
              (![] + [])[+[]] +
                (![] + [])[!+[] + !+[]] +
                (![] + [])[+!+[]] +
                (!![] + [])[+[]]
            ]
              [
                ([][
                  (![] + [])[+[]] +
                    (![] + [])[!+[] + !+[]] +
                    (![] + [])[+!+[]] +
                    (!![] + [])[+[]]
                ] + [])[!+[] + !+[] + !+[]] +
                  (!![] +
                    [][
                      (![] + [])[+[]] +
                        (![] + [])[!+[] + !+[]] +
                        (![] + [])[+!+[]] +
                        (!![] + [])[+[]]
                    ])[+!+[] + [+[]]] +
                  ([][[]] + [])[+!+[]] +
                  (![] + [])[!+[] + !+[] + !+[]] +
                  (!![] + [])[+[]] +
                  (!![] + [])[+!+[]] +
                  ([][[]] + [])[+[]] +
                  ([][
                    (![] + [])[+[]] +
                      (![] + [])[!+[] + !+[]] +
                      (![] + [])[+!+[]] +
                      (!![] + [])[+[]]
                  ] + [])[!+[] + !+[] + !+[]] +
                  (!![] + [])[+[]] +
                  (!![] +
                    [][
                      (![] + [])[+[]] +
                        (![] + [])[!+[] + !+[]] +
                        (![] + [])[+!+[]] +
                        (!![] + [])[+[]]
                    ])[+!+[] + [+[]]] +
                  (!![] + [])[+!+[]]
              ](
                (!![] + [])[+!+[]] +
                  (!![] + [])[!+[] + !+[] + !+[]] +
                  (!![] + [])[+[]] +
                  ([][[]] + [])[+[]] +
                  (!![] + [])[+!+[]] +
                  ([][[]] + [])[+!+[]] +
                  (![] + [+[]])[
                    ([![]] + [][[]])[+!+[] + [+[]]] +
                      (!![] + [])[+[]] +
                      (![] + [])[+!+[]] +
                      (![] + [])[!+[] + !+[]] +
                      ([![]] + [][[]])[+!+[] + [+[]]] +
                      ([][
                        (![] + [])[+[]] +
                          (![] + [])[!+[] + !+[]] +
                          (![] + [])[+!+[]] +
                          (!![] + [])[+[]]
                      ] + [])[!+[] + !+[] + !+[]] +
                      (![] + [])[!+[] + !+[] + !+[]]
                  ]()[+!+[] + [+[]]] +
                  ![] +
                  (![] + [+[]])[
                    ([![]] + [][[]])[+!+[] + [+[]]] +
                      (!![] + [])[+[]] +
                      (![] + [])[+!+[]] +
                      (![] + [])[!+[] + !+[]] +
                      ([![]] + [][[]])[+!+[] + [+[]]] +
                      ([][
                        (![] + [])[+[]] +
                          (![] + [])[!+[] + !+[]] +
                          (![] + [])[+!+[]] +
                          (!![] + [])[+[]]
                      ] + [])[!+[] + !+[] + !+[]] +
                      (![] + [])[!+[] + !+[] + !+[]]
                  ]()[+!+[] + [+[]]]
              )()
              [
                ([][
                  (![] + [])[+[]] +
                    (![] + [])[!+[] + !+[]] +
                    (![] + [])[+!+[]] +
                    (!![] + [])[+[]]
                ] + [])[!+[] + !+[] + !+[]] +
                  (!![] +
                    [][
                      (![] + [])[+[]] +
                        (![] + [])[!+[] + !+[]] +
                        (![] + [])[+!+[]] +
                        (!![] + [])[+[]]
                    ])[+!+[] + [+[]]] +
                  ([][[]] + [])[+!+[]] +
                  (![] + [])[!+[] + !+[] + !+[]] +
                  (!![] + [])[+[]] +
                  (!![] + [])[+!+[]] +
                  ([][[]] + [])[+[]] +
                  ([][
                    (![] + [])[+[]] +
                      (![] + [])[!+[] + !+[]] +
                      (![] + [])[+!+[]] +
                      (!![] + [])[+[]]
                  ] + [])[!+[] + !+[] + !+[]] +
                  (!![] + [])[+[]] +
                  (!![] +
                    [][
                      (![] + [])[+[]] +
                        (![] + [])[!+[] + !+[]] +
                        (![] + [])[+!+[]] +
                        (!![] + [])[+[]]
                    ])[+!+[] + [+[]]] +
                  (!![] + [])[+!+[]]
              ](
                (![] + [+[]])[
                  ([![]] + [][[]])[+!+[] + [+[]]] +
                    (!![] + [])[+[]] +
                    (![] + [])[+!+[]] +
                    (![] + [])[!+[] + !+[]] +
                    ([![]] + [][[]])[+!+[] + [+[]]] +
                    ([][
                      (![] + [])[+[]] +
                        (![] + [])[!+[] + !+[]] +
                        (![] + [])[+!+[]] +
                        (!![] + [])[+[]]
                    ] + [])[!+[] + !+[] + !+[]] +
                    (![] + [])[!+[] + !+[] + !+[]]
                ]()[+!+[] + [+[]]]
              ) + [])[+!+[]]
          ) +
        ([] + [])[
          (![] + [])[+[]] +
            (!![] +
              [][
                (![] + [])[+[]] +
                  (![] + [])[!+[] + !+[]] +
                  (![] + [])[+!+[]] +
                  (!![] + [])[+[]]
              ])[+!+[] + [+[]]] +
            ([][[]] + [])[+!+[]] +
            (!![] + [])[+[]] +
            ([][
              (![] + [])[+[]] +
                (![] + [])[!+[] + !+[]] +
                (![] + [])[+!+[]] +
                (!![] + [])[+[]]
            ] + [])[!+[] + !+[] + !+[]] +
            (!![] +
              [][
                (![] + [])[+[]] +
                  (![] + [])[!+[] + !+[]] +
                  (![] + [])[+!+[]] +
                  (!![] + [])[+[]]
              ])[+!+[] + [+[]]] +
            (![] + [])[!+[] + !+[]] +
            (!![] +
              [][
                (![] + [])[+[]] +
                  (![] + [])[!+[] + !+[]] +
                  (![] + [])[+!+[]] +
                  (!![] + [])[+[]]
              ])[+!+[] + [+[]]] +
            (!![] + [])[+!+[]]
        ]()[+!+[] + [!+[] + !+[]]]
    )()
  );
</script>
